@font-face {
  font-family: "CircularAir";
  src: url("./../assets/circular/Circular_Air-Book.woff") format("woff"),
    url("./../assets/circular/Circular_Air-Book.ttf") format("truetype");
}

@font-face {
  font-family: "CircularAirBold";
  src: url("./../assets/circular/Circular_Air-Bold.woff") format("woff"),
    url("./../assets/circular/Circular_Air-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "CircularAirLight";
  src: url("./../assets/circular/Circular_Air-Light.woff") format("woff"),
    url("./../assets/circular/Circular_Air-Light.ttf") format("truetype");
}
